### Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
# string variable
var_1 = "Alice"

# list variable
var_2 = [1, 2, 3, 4, 5]

# float variable
var_3 = 9.99

# tuple variable
var_3 = (23.45, -123.67)

### Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

In [2]:
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1

In [3]:
print("var1 type is type ", type(var1))
print("var2 type is type ", type(var2))
print("var3 type is type ", type(var3))
print("var4 type is type ", type(var4))

var1 type is type  <class 'str'>
var2 type is type  <class 'str'>
var3 type is type  <class 'list'>
var4 type is type  <class 'int'>

### Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [4]:
# division 
div_1 = 5 / 2
print(div_1)  

# modulus
mdl_1 = 5 % 2
print(mdl_1)

# integer division 
indv_1 = 5 // 2
print(indv_1)  

# exponentiation 
ex_1 = 5 ** 2
print(ex_1)

2.5
1
2
25

### Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [5]:
lst_1 = [1, 2, 3, 4.5, 6.7, "Sudhanshu", "Krish", "Saurabh", True, False]

In [6]:
for i in lst_1:
    print("element of list is ", i , "datatype of element in the list is ",type(i))

element of list is  1 datatype of element in the list is  <class 'int'>
element of list is  2 datatype of element in the list is  <class 'int'>
element of list is  3 datatype of element in the list is  <class 'int'>
element of list is  4.5 datatype of element in the list is  <class 'float'>
element of list is  6.7 datatype of element in the list is  <class 'float'>
element of list is  Sudhanshu datatype of element in the list is  <class 'str'>
element of list is  Krish datatype of element in the list is  <class 'str'>
element of list is  Saurabh datatype of element in the list is  <class 'str'>
element of list is  True datatype of element in the list is  <class 'bool'>
element of list is  False datatype of element in the list is  <class 'bool'>

### Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [7]:
10//2

5

In [14]:
A = int(input("Enter the value of A: "))
B = int(input("Enter the value of B: "))
x=A
count = 0

while A % B == 0:
    count += 1
    A //= B

if count > 0:
    print(x, " is divisible by ", B, ", " , A, "times")
else:
    print(x, " is not divisible by ", B)

Enter the value of A:  20
Enter the value of B:  10

20  is divisible by  10 ,  2 times

### Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [24]:
my_list = [5, 18, 7, 12, 9, 15, 28, 33, 42, 50, 21, 36, 63, 77, 88, 99, 22, 27, 30, 44, 55, 66, 72, 81, 90]

for num in my_list:
    if num % 3 == 0:
        print(num, "is divisible by 3")
    else:
        print(num, "is not divisible by 3")

5 is not divisible by 3
18 is divisible by 3
7 is not divisible by 3
12 is divisible by 3
9 is divisible by 3
15 is divisible by 3
28 is not divisible by 3
33 is divisible by 3
42 is divisible by 3
50 is not divisible by 3
21 is divisible by 3
36 is divisible by 3
63 is divisible by 3
77 is not divisible by 3
88 is not divisible by 3
99 is divisible by 3
22 is not divisible by 3
27 is divisible by 3
30 is divisible by 3
44 is not divisible by 3
55 is not divisible by 3
66 is divisible by 3
72 is divisible by 3
81 is divisible by 3
90 is divisible by 3

### Q7.What do you understand about mutable and immutable data types? Give examples for both showing this property.

#### list is an example of mutable data type because we can change its element inside the list

In [25]:
my_list = [1, 2, 3, 4]
print(my_list) 

# Modifying the list
my_list[1] = 5
print(my_list)

[1, 2, 3, 4]
[1, 5, 3, 4]

#### string is an example of immutable data type because we can not modify it

In [26]:
name = "Alice"
print(name) 

# Attempt to modify the string
name[0] = 'B'
print(name)

Alice

TypeError: 'str' object does not support item assignment